@charset "UTF-8";

#login {
	width: 500px;
	text-align: center;
	list-style-type: none;
	margin: auto;
}

#loginNotice {
	color: #888;
	margin-bottom: 40px;
	margin-top: 50px;
}

#loginID {
	margin-bottom: 10px;
}

#loginID input {
	height: 40px;
}

#loginPass input{
	height: 40px;
	margin-bottom: 50px;
}

#loginBtnDiv input {
	text-align: center;
	width: 90%;
	height: 70px;
	background-color: #605CA0;
	margin: auto;
	color: #FFF;
	font-size: 20px;
	margin-bottom: 50px;
	border: 0px;
}

#loginOptionDiv {
	margin: auto;
	text-align: center;
}

#loginOptionDiv ul {
	list-style-type: none;
	width: 400px;
	margin: auto;
	height: 50px;
	padding: 0px;
}

#loginOptionDiv li {
	color: #888;
	float: left;
	list-style-type: none;
	padding-left: 30px;
	padding-right: 25px;
	height: 20px;
}